# Creación del dataframe a analizar con PowerBi

## Importación de librerías

In [6]:
# comenzamos importando las librerías necesarias 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
# cargamos todas las tablas de las que disponemos sin contar con la primera columna de cada una de ellas que apenas aporta información.

# tabla relativa a a las ventas
sales = pd.read_csv('sales.csv',usecols=lambda column: column != 'Unnamed: 0')

#tabla relativa a información sobre la actividad comercial de los clientes
customer_commercial_activity = pd.read_csv('customer_commercial_activity.csv',usecols=lambda column: column != 'Unnamed: 0')

#tabla que informa sobre los productos adquiridos cada mes por cada cliente
customer_products = pd.read_csv('customer_products.csv',usecols=lambda column: column != 'Unnamed: 0')

#tabla que aporta información personal de cada cliente como edad, region, país, género
customer_sociodemographics = pd.read_csv('customer_sociodemographics.csv',usecols=lambda column: column != 'Unnamed: 0')

# tabla que muestra los productos que están a la venta
products_description = pd.read_csv('product_description.csv',usecols=lambda column: column != 'Unnamed: 0')

## Breve EDA y procesamiento

In [8]:
print(sales['month_sale'].min())
print(sales['month_sale'].max())

2018-02-01
2019-05-01

In [9]:
sales.groupby('month_sale')['cid'].nunique()

month_sale
2018-02-01    11992
2018-03-01     9405
2018-04-01     7974
2018-05-01     7685
2018-06-01     9321
2018-07-01    17644
2018-08-01    18740
2018-09-01    22452
2018-10-01    25167
2018-11-01    16441
2018-12-01    12018
2019-01-01     9991
2019-02-01     9083
2019-03-01     9161
2019-04-01     7724
2019-05-01     7896
Name: cid, dtype: int64

In [10]:
sales['month_sale'].unique()

array(['2018-05-01', '2018-06-01', '2018-02-01', '2018-04-01',
       '2018-08-01', '2018-03-01', '2018-10-01', '2018-07-01',
       '2018-09-01', '2018-11-01', '2018-12-01', '2019-03-01',
       '2019-02-01', '2019-04-01', '2019-01-01', '2019-05-01'],
      dtype=object)

Vamos a entender como funcionan las tablas y la relación que hay entre las mismas.
Para ello hacemos un seguimiento de un cliente.

In [12]:
sales[sales['cid'] == 33620]

        pk_sale    cid  month_sale  product_ID  net_margin
0          6666  33620  2018-05-01        2335       952.9
123352   130018  33620  2018-04-01        4657        71.6

In [13]:
customer_products[customer_products['pk_cid'] == 33620]

,pk_cid,pk_partition,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
729038,33620,2018-04,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
1222826,33620,2018-05,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
1474877,33620,2018-06,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
1479606,33620,2018-07,1,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
2168162,33620,2018-08,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
2171534,33620,2018-09,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
2943586,33620,2018-10,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
2977186,33620,2018-11,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
3628188,33620,2018-12,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
4029291,33620,2019-01,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
4480655,33620,2019-02,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
4876094,33620,2019-03,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
5132961,33620,2019-04,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1
5523448,33620,2019-05,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,1

Observamos que la tabla customer products se actualiza cada mes con las compras realizadas en dicho mes.

In [14]:
def breve_eda(dataframe):
    print(dataframe.info())
    print(' \n Número de nulos por columna \n')
    print(dataframe.isna().sum())
    print('\n')
    print(dataframe.describe(include=np.number))
    print('\n')
    print(dataframe.describe(exclude=np.number))

In [15]:
breve_eda(sales)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240773 entries, 0 to 240772
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   pk_sale     240773 non-null  int64
 1   cid         240773 non-null  int64
 2   month_sale  240773 non-null  object
 3   product_ID  240773 non-null  int64
 4   net_margin  240773 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 9.2+ MB
None

 Número de nulos por columna

pk_sale       0
cid           0
month_sale    0
product_ID    0
net_margin    0
dtype: int64


             pk_sale           cid     product_ID     net_margin
count  240773.000000  2.407730e+05  240773.000000  240773.000000
mean   127052.000000  1.363934e+06    3945.408202     606.878164
std     69505.322519  1.751721e+05    1632.821700    1735.806089
min      6666.000000  1.589100e+04    1119.000000      25.000000
25%     66859.000000  1.301012e+06    2312.000000      61.400000
50%    127052.000000  1.409253e+06    4657.000000      69.100000
75%    187245.000000  1.475320e+06    4657.000000      79.200000
max    247438.000000  1.553571e+06    9001.000000   18466.400000


        month_sale
count       240773
unique          16
top     2018-10-01
freq         27693

Únicamente tenemos las ventas históricas (al ser servicios el cliente se puede dar de baja en ellos)

Tras un rápido EDA observamos lo siguiente:

**Columnas**
- pk_sale ->	Identificador de venta
- cid ->        Identificador de cliente
- month_sale ->	Mes de venta. Mes en el que se contrata un producto.
- product_ID ->	Identificador de producto
- net_margin ->	Margen neto generado por la venta ($)

**Información**
- se trata de un dataframe sin nulos
- pese a ser numérica no debemos olvidar que product_ID se trata de una columna categórica
- debemos de pasar month_sale a tipo datetime

In [16]:
breve_eda(customer_commercial_activity)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   pk_cid           int64
 1   pk_partition     object
 2   entry_date       object
 3   entry_channel    object
 4   active_customer  float64
 5   segment          object
dtypes: float64(1), int64(1), object(4)
memory usage: 273.0+ MB
None

 Número de nulos por columna

pk_cid                  0
pk_partition            0
entry_date              0
entry_channel      133033
active_customer         0
segment            133944
dtype: int64


             pk_cid  active_customer
count  5.962924e+06     5.962924e+06
mean   1.234930e+06     4.033845e-01
std    1.623020e+05     4.905767e-01
min    1.589100e+04     0.000000e+00
25%    1.112532e+06     0.000000e+00
50%    1.231097e+06     0.000000e+00
75%    1.352339e+06     1.000000e+00
max    1.553689e+06     1.000000e+00


       pk_partition entry_date entry_channel             segment
count       5962924    5962924       5829891             5828980
unique           17         53            68                   3
top         2019-05    2016-10           KHE  03 - UNIVERSITARIO
freq         442995     382473       3113947             3900166

In [17]:
# número total de clientes que tenemos, observamos que es mayor que el total de ventas y mucho menor que el total de filas de la columna
# debido a que un cliente puede comprar varias veces y en cada mes se repiten todos los clientes del mes anterior que no han cancelado su 
# servicio con la empresa

len(customer_commercial_activity['pk_cid'].unique())

456373

Tras un rápido EDA observamos lo siguiente:

**Columnas**
- pk_cid ->	          Identificador de cliente
- pk_partition ->	  Identificador de Partición. Mensualmente se ingesta en la tabla una partición con el estado de la base de clientes.
- entry_channel ->	  Canal de captación del cliente
- entry_date ->	      Fecha en la que realizó la primera contratación a través de easyMoney
- segment ->	      Segmento comercial del cliente
- active_customer ->  Indicador de actividad del cliente en la app EasyMoney


**Información**
- Debemos transformar la columna **active_customer** a tipo int
- cambiar el formato de la columna **segment**
- pasar a datetime la columna **entry_date** y de ahí sacar el año y el mes
- tenemos nulos en las columnas **entry_channel** y en **segment** (no encuentro ninguna relación posible para poder inferir estos valores)
- **entry_channel** tiene muchas categorías insignificantes

In [18]:
print(customer_commercial_activity['segment'].value_counts(),'\n')
print(customer_commercial_activity['entry_channel'].value_counts().head(10))

segment
03 - UNIVERSITARIO    3900166
02 - PARTICULARES     1830875
01 - TOP                97939
Name: count, dtype: int64

entry_channel
KHE    3113947
KFC     890620
KHQ     590280
KAT     416084
KHK     230197
KHM     176591
KHN     108434
KFA      79020
KHD      75899
RED      60601
Name: count, dtype: int64

En los nulos tanto de **entry_channel** como en **segment** vamos a imputar categoría desconocido

In [19]:
customer_commercial_activity['entry_channel'] = np.where(customer_commercial_activity['entry_channel'].isna(),'Unknown',customer_commercial_activity['entry_channel'])
customer_commercial_activity['segment'] = np.where(customer_commercial_activity['segment'].isna(),'Unknown',customer_commercial_activity['segment'])

In [20]:
breve_eda(customer_products)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 17 columns):
 #   Column              Dtype
---  ------              -----
 0   pk_cid              int64
 1   pk_partition        object
 2   short_term_deposit  int64
 3   loans               int64
 4   mortgage            int64
 5   funds               int64
 6   securities          int64
 7   long_term_deposit   int64
 8   em_account_pp       int64
 9   credit_card         int64
 10  payroll             float64
 11  pension_plan        float64
 12  payroll_account     int64
 13  emc_account         int64
 14  debit_card          int64
 15  em_account_p        int64
 16  em_acount           int64
dtypes: float64(2), int64(14), object(1)
memory usage: 773.4+ MB
None

 Número de nulos por columna

pk_cid                 0
pk_partition           0
short_term_deposit     0
loans                  0
mortgage               0
funds                  0
securities             0
long_term_deposit      0
em_account_pp          0
credit_card            0
payroll               61
pension_plan          61
payroll_account        0
emc_account            0
debit_card             0
em_account_p           0
em_acount              0
dtype: int64


             pk_cid  short_term_deposit         loans      mortgage  \
count  5.962924e+06        5.962924e+06  5.962924e+06  5.962924e+06
mean   1.234930e+06        2.581619e-03  7.848498e-05  5.433576e-05
std    1.623020e+05        5.074401e-02  8.858828e-03  7.371080e-03
min    1.589100e+04        0.000000e+00  0.000000e+00  0.000000e+00
25%    1.112532e+06        0.000000e+00  0.000000e+00  0.000000e+00
50%    1.231097e+06        0.000000e+00  0.000000e+00  0.000000e+00
75%    1.352339e+06        0.000000e+00  0.000000e+00  0.000000e+00
max    1.553689e+06        1.000000e+00  1.000000e+00  1.000000e+00

              funds    securities  long_term_deposit  em_account_pp  \
count  5.962924e+06  5.962924e+06       5.962924e+06      5962924.0
mean   3.370662e-03  3.711770e-03       1.688098e-02            0.0
std    5.795948e-02  6.081113e-02       1.288255e-01            0.0
min    0.000000e+00  0.000000e+00       0.000000e+00            0.0
25%    0.000000e+00  0.000000e+00       0.000000e+00            0.0
50%    0.000000e+00  0.000000e+00       0.000000e+00            0.0
75%    0.000000e+00  0.000000e+00       0.000000e+00            0.0
max    1.000000e+00  1.000000e+00       1.000000e+00            0.0

        credit_card       payroll  pension_plan  payroll_account  \
count  5.962924e+06  5.962863e+06  5.962863e+06     5.962924e+06
mean   1.188444e-02  3.451144e-02  3.652641e-02     5.524471e-02
std    1.083660e-01  1.825388e-01  1.875960e-01     2.284573e-01
min    0.000000e+00  0.000000e+00  0.000000e+00     0.000000e+00
25%    0.000000e+00  0.000000e+00  0.000000e+00     0.000000e+00
50%    0.000000e+00  0.000000e+00  0.000000e+00     0.000000e+00
75%    0.000000e+00  0.000000e+00  0.000000e+00     0.000000e+00
max    1.000000e+00  1.000000e+00  1.000000e+00     1.000000e+00

        emc_account    debit_card  em_account_p     em_acount
count  5.962924e+06  5.962924e+06  5.962924e+06  5.962924e+06
mean   5.483233e-02  9.441140e-02  5.701901e-06  7.348076e-01
std    2.276527e-01  2.924002e-01  2.387859e-03  4.414356e-01
min    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
25%    0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    0.000000e+00  0.000000e+00  0.000000e+00  1.000000e+00
75%    0.000000e+00  0.000000e+00  0.000000e+00  1.000000e+00
max    1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00


       pk_partition
count       5962924
unique           17
top         2019-05
freq         442995

In [21]:
# observamos todos lo registros de un cliente. Nos fijamos en que se observa su actividad y servicios contratados cada mes
# en este caso payroll,pension_plan y payroll_acount se mantienen una vez contratados mientras que em_acount solo dura un mes

customer_products[customer_products['pk_cid']==1528334]

,pk_cid,pk_partition,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
3869312,1528334,2019-01,0,0,0,0,0,0,0,0,0.0,0.0,0,0,0,0,0
4394821,1528334,2019-02,0,0,0,0,0,0,0,0,1.0,1.0,0,0,0,0,1
4722489,1528334,2019-03,0,0,0,0,0,0,0,1,1.0,1.0,1,0,1,0,0
5092825,1528334,2019-04,0,0,0,0,0,0,0,1,1.0,1.0,1,0,1,0,0
5698332,1528334,2019-05,0,0,0,0,0,0,0,1,1.0,1.0,1,1,1,0,0

Tras un rápido EDA observamos lo siguiente:

**Columnas**
- pk_cid ->	          Identificador de cliente
- pk_partition ->	  Identificador de Partición. Mensualmente se ingesta en la tabla una partición con el estado de la base de clientes.
- el resto de columnas son columnas tipo booleanas que indican si el cliente tiene contratado el producto en cuestión


**Información**
- debemos de pasar a tipo int las columnas **payroll** y **pension_plan** en las cuales tenemos nulos
- sin hacer un análisis en profundidad podemos observar que los artículos más contratados son: em_account, debit_card y payroll_account

In [22]:
print(customer_products['payroll'].value_counts(normalize=True,dropna=False),'\n')
print(customer_products['pension_plan'].value_counts(normalize=True,dropna=False))

payroll
0.0    0.965479
1.0    0.034511
NaN    0.000010
Name: proportion, dtype: float64

pension_plan
0.0    0.963464
1.0    0.036526
NaN    0.000010
Name: proportion, dtype: float64

Vemos que el porcentaje de nulos en ambas categorías es ínfimo por lo que optamos por imputar la moda en ambas columnas.

In [23]:
customer_products['payroll'] = np.where(customer_products['payroll'].isna(),0.0,customer_products['payroll'])
customer_products['pension_plan'] = np.where(customer_products['pension_plan'].isna(),0.0,customer_products['pension_plan'])
customer_products['payroll'] = customer_products['payroll'].astype(int)
customer_products['pension_plan'] = customer_products['pension_plan'].astype(int)

In [24]:
breve_eda(customer_sociodemographics)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 8 columns):
 #   Column        Dtype
---  ------        -----
 0   pk_cid        int64
 1   pk_partition  object
 2   country_id    object
 3   region_code   float64
 4   gender        object
 5   age           int64
 6   deceased      object
 7   salary        float64
dtypes: float64(2), int64(2), object(4)
memory usage: 363.9+ MB
None

 Número de nulos por columna

pk_cid                0
pk_partition          0
country_id            0
region_code        2264
gender               25
age                   0
deceased              0
salary          1541104
dtype: int64


             pk_cid   region_code           age        salary
count  5.962924e+06  5.960660e+06  5.962924e+06  4.421820e+06
mean   1.234930e+06  2.581440e+01  2.976042e+01  1.155833e+05
std    1.623020e+05  1.359566e+01  1.198038e+01  2.000066e+05
min    1.589100e+04  1.000000e+00  2.000000e+00  1.202730e+03
25%    1.112532e+06  1.300000e+01  2.200000e+01  6.141532e+04
50%    1.231097e+06  2.800000e+01  2.500000e+01  8.844147e+04
75%    1.352339e+06  3.600000e+01  3.400000e+01  1.313092e+05
max    1.553689e+06  5.200000e+01  1.050000e+02  2.889440e+07


       pk_partition country_id   gender deceased
count       5962924    5962924  5962899  5962924
unique           17         41        2        2
top         2019-05         ES        H        N
freq         442995    5960672  3087502  5961849

Tras un rápido EDA observamos lo siguiente:

**Columnas**
- pk_cid ->	         Identificador de cliente
- pk_partition ->	 Identificador de Partición. Mensualmente se ingesta en la tabla una partición con el estado de la base de clientes.
- deceased ->	     Indicador de fallecimiento
- gender ->	         Sexo del cliente
- region_code ->	 Provincia de residencia del cliente (para ES)
- salary ->	         Ingresos brutos de la unidad familiar
- country_id ->	     País de residencia del cliente
- age ->	         Edad del cliente


**Información**
- la columna de **country_ID** debemos de ponerla como tipo int para que ocupe menos espacio, aunque se trate de una columna categórica
- tenemos nulos en la columna **region_code** los cuales se deben a que dichos compradores no son españoles
- tenemos una gran cantidad de nulos en **salary**
- también tenemos nulos en **gender**

In [25]:
# a aquellos países que no son españa les asocio un region_code de -1
customer_sociodemographics['region_code'] = np.where(customer_sociodemographics['region_code'].isna(),-1,customer_sociodemographics['region_code'])
customer_sociodemographics['region_code'] = customer_sociodemographics['region_code'].astype(int)

In [26]:
print(customer_sociodemographics['gender'].value_counts(dropna=False,normalize=True))

# imputamos los nulos de género a hombres ya que es la moda y no afecta mucho al porcentaje como se ve arriba
customer_sociodemographics['gender'] = np.where(customer_sociodemographics['gender'].isna(),'H',customer_sociodemographics['gender'])

gender
H      0.517783
V      0.482213
NaN    0.000004
Name: proportion, dtype: float64

In [27]:
products_description

    pk_product_ID        product_desc family_product
0            4657           em_acount        account
1            3819          debit_card   payment_card
2            1364        pension_plan   pension_plan
3            2234             payroll        account
4            2235     payroll_account        account
5            8871         emc_account        account
6            2312         credit_card   payment_card
7            2335  short_term_deposit     investment
8            2336   long_term_deposit     investment
9            2673          securities     investment
10           1119               funds     investment
11           9001               loans           loan
12           4033            mortgage           loan

En esta ocasión vemos que se trata de un dataset con las columnas:
- pk_product_ID ->	Identificador de producto
- product_desc ->	    Descripción del producto
- family_product ->	Vertical del producto. Grupo al que pertenece.

## Construcción tabla PowerBi

Comenzamos fusionando la tabla de sales la cual contiene la información relativa a las ventas de cada mes con la tabla customer_sociodemographics la cual nos aporta información sobre cada cliente como el género, localida, país, salario, edad y si ha fallecido o no.

In [28]:
sales['month_sale'] = pd.to_datetime(sales['month_sale'], format='%Y-%m-%d')
customer_sociodemographics['pk_partition'] = pd.to_datetime(customer_sociodemographics['pk_partition'], format='%Y-%m')

In [31]:
sales.head()

   pk_sale    cid month_sale  product_ID  net_margin
0     6666  33620 2018-05-01        2335       952.9
1     6667  35063 2018-06-01        2335      1625.2
2     6668  37299 2018-02-01        2335      1279.7
3     6669  39997 2018-02-01        2335      1511.9
4     6670  44012 2018-02-01        2335      1680.3

In [37]:
print(sales.shape)
fusion_1 = pd.merge(sales, customer_sociodemographics, 
                    how='left', 
                    left_on=['cid', 'month_sale'], 
                    right_on=['pk_cid', 'pk_partition'])
# estamos interesados en conocer información sobre las ventas y los clientes en el momento de la venta, es por eso que mergeamos pk_cid con pk_partition
# para tener la información en el momento de la compra del cliente
fusion_1 = fusion_1.drop(['pk_cid'],axis=1)
print(fusion_1.shape)
print(fusion_1.info())

(240773, 5)
(240773, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240773 entries, 0 to 240772
Data columns (total 12 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   pk_sale       240773 non-null  int64
 1   cid           240773 non-null  int64
 2   month_sale    240773 non-null  datetime64[ns]
 3   product_ID    240773 non-null  int64
 4   net_margin    240773 non-null  float64
 5   pk_partition  240773 non-null  datetime64[ns]
 6   country_id    240773 non-null  object
 7   region_code   240773 non-null  int32
 8   gender        240773 non-null  object
 9   age           240773 non-null  int64
 10  deceased      240773 non-null  object
 11  salary        133154 non-null  float64
dtypes: datetime64[ns](2), float64(2), int32(1), int64(4), object(3)
memory usage: 21.1+ MB
None

In [38]:
fusion_1.head()

,pk_sale,cid,month_sale,product_ID,net_margin,pk_partition,country_id,region_code,gender,age,deceased,salary
0,6666,33620,2018-05-01,2335,952.9,2018-05-01,ES,28,H,50,N,138618.57
1,6667,35063,2018-06-01,2335,1625.2,2018-06-01,ES,28,H,62,N,125530.41
2,6668,37299,2018-02-01,2335,1279.7,2018-02-01,ES,30,V,54,N,NaN
3,6669,39997,2018-02-01,2335,1511.9,2018-02-01,ES,41,V,62,N,201575.01
4,6670,44012,2018-02-01,2335,1680.3,2018-02-01,ES,28,V,42,N,97601.04

En la segunda fusión unimos el dataset resultante de la primera fusión con el dataset de customer_commercial_activity, el cual nos aporta más información de los clientes como puede ser si eran active_customer, el tipo de cliente que son, la fecha en la que se registraron y el canal de entrada.

In [39]:
customer_commercial_activity.head()

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment
0,1375586,2018-01,2018-01,KHL,1.0,02 - PARTICULARES
1,1050611,2018-01,2015-08,KHE,0.0,03 - UNIVERSITARIO
2,1050612,2018-01,2015-08,KHE,0.0,03 - UNIVERSITARIO
3,1050613,2018-01,2015-08,KHD,0.0,03 - UNIVERSITARIO
4,1050614,2018-01,2015-08,KHE,1.0,03 - UNIVERSITARIO

In [40]:
customer_commercial_activity['pk_partition'] = pd.to_datetime(customer_commercial_activity['pk_partition'], format='%Y-%m')

In [43]:
print(fusion_1.shape)
# estamos interesados en conocer información sobre las ventas unicamente por lo que debemos eliminar los duplicados mensuales que se hacen
fusion_2 = pd.merge(fusion_1,customer_commercial_activity,
                    how='left',
                    left_on=['cid', 'pk_partition'], 
                    right_on=['pk_cid', 'pk_partition'])
fusion_2 = fusion_2.drop(['pk_cid'],axis=1)
print(fusion_2.shape)

(240773, 12)
(240773, 16)

In [44]:
fusion_2.head()

,pk_sale,cid,month_sale,product_ID,net_margin,pk_partition,country_id,region_code,gender,age,deceased,salary,entry_date,entry_channel,active_customer,segment
0,6666,33620,2018-05-01,2335,952.9,2018-05-01,ES,28,H,50,N,138618.57,2018-04,KHK,1.0,02 - PARTICULARES
1,6667,35063,2018-06-01,2335,1625.2,2018-06-01,ES,28,H,62,N,125530.41,2018-04,KHN,1.0,01 - TOP
2,6668,37299,2018-02-01,2335,1279.7,2018-02-01,ES,30,V,54,N,NaN,2018-01,KHK,1.0,01 - TOP
3,6669,39997,2018-02-01,2335,1511.9,2018-02-01,ES,41,V,62,N,201575.01,2018-01,KAT,1.0,02 - PARTICULARES
4,6670,44012,2018-02-01,2335,1680.3,2018-02-01,ES,28,V,42,N,97601.04,2018-01,KHL,1.0,02 - PARTICULARES

Por último unimos el dataset resultante de la segunda fusión con las columnas que nos convienen del dataset de products_description, el cual nos aporta más información de los productos como puede ser su nombre y la familia a la que pertenecen.

In [45]:
products_description

    pk_product_ID        product_desc family_product
0            4657           em_acount        account
1            3819          debit_card   payment_card
2            1364        pension_plan   pension_plan
3            2234             payroll        account
4            2235     payroll_account        account
5            8871         emc_account        account
6            2312         credit_card   payment_card
7            2335  short_term_deposit     investment
8            2336   long_term_deposit     investment
9            2673          securities     investment
10           1119               funds     investment
11           9001               loans           loan
12           4033            mortgage           loan

In [48]:
print(fusion_2.shape)
sales_analysis = pd.merge(fusion_2,products_description,
                          how='left',
                          left_on='product_ID',
                          right_on='pk_product_ID')
sales_analysis = sales_analysis.drop(['pk_product_ID','product_ID'],axis=1)
print(sales_analysis.shape)

(240773, 16)
(240773, 17)

In [49]:
sales_analysis.head()

,pk_sale,cid,month_sale,net_margin,pk_partition,country_id,region_code,gender,age,deceased,salary,entry_date,entry_channel,active_customer,segment,product_desc,family_product
0,6666,33620,2018-05-01,952.9,2018-05-01,ES,28,H,50,N,138618.57,2018-04,KHK,1.0,02 - PARTICULARES,short_term_deposit,investment
1,6667,35063,2018-06-01,1625.2,2018-06-01,ES,28,H,62,N,125530.41,2018-04,KHN,1.0,01 - TOP,short_term_deposit,investment
2,6668,37299,2018-02-01,1279.7,2018-02-01,ES,30,V,54,N,NaN,2018-01,KHK,1.0,01 - TOP,short_term_deposit,investment
3,6669,39997,2018-02-01,1511.9,2018-02-01,ES,41,V,62,N,201575.01,2018-01,KAT,1.0,02 - PARTICULARES,short_term_deposit,investment
4,6670,44012,2018-02-01,1680.3,2018-02-01,ES,28,V,42,N,97601.04,2018-01,KHL,1.0,02 - PARTICULARES,short_term_deposit,investment

In [52]:
sales_analysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240773 entries, 0 to 240772
Data columns (total 17 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   pk_sale          240773 non-null  int64
 1   cid              240773 non-null  int64
 2   month_sale       240773 non-null  datetime64[ns]
 3   net_margin       240773 non-null  float64
 4   pk_partition     240773 non-null  datetime64[ns]
 5   country_id       240773 non-null  object
 6   region_code      240773 non-null  int32
 7   gender           240773 non-null  object
 8   age              240773 non-null  int64
 9   deceased         240773 non-null  object
 10  salary           133154 non-null  float64
 11  entry_date       240773 non-null  object
 12  entry_channel    240773 non-null  object
 13  active_customer  240773 non-null  float64
 14  segment          240773 non-null  object
 15  product_desc     240773 non-null  object
 16  family_product   240773 non-null  object
dtypes: datetime64[ns](2), float64(3), int32(1), int64(3), object(8)
memory usage: 30.3+ MB

In [51]:
print(f'Número de compras únicas(debe ser igual al tamaño del dataset {sales_analysis.shape[0]}): {sales_analysis['pk_sale'].nunique()}')
print(f'Número de clientes únicos: {sales_analysis['cid'].nunique()}')

Número de compras únicas(debe ser igual al tamaño del dataset 240773): 240773
Número de clientes únicos: 152754

Observamos que el número de clientes únicos es menor que el número de ventas. Esto es debido a que un cliente puede realizar varias compras como observamos en el siguiente ejemplo.

In [50]:
sales_analysis[sales_analysis['cid'] == 1387215].sort_values(by='month_sale')

,pk_sale,cid,month_sale,net_margin,pk_partition,country_id,region_code,gender,age,deceased,salary,entry_date,entry_channel,active_customer,segment,product_desc,family_product
28487,35153,1387215,2018-03-01,69.1,2018-03-01,ES,28,V,41,N,224216.16,2018-03,KHK,1.0,01 - TOP,payroll,account
47537,54203,1387215,2018-03-01,3746.6,2018-03-01,ES,28,V,41,N,224216.16,2018-03,KHK,1.0,01 - TOP,pension_plan,pension_plan
140557,147223,1387215,2018-03-01,62.7,2018-03-01,ES,28,V,41,N,224216.16,2018-03,KHK,1.0,01 - TOP,em_acount,account
1690,8356,1387215,2018-04-01,1700.7,2018-04-01,ES,28,V,41,N,224216.16,2018-03,KHK,1.0,01 - TOP,short_term_deposit,investment
15154,21820,1387215,2018-04-01,65.0,2018-04-01,ES,28,V,41,N,224216.16,2018-03,KHK,1.0,01 - TOP,credit_card,payment_card
64988,71654,1387215,2018-04-01,65.7,2018-04-01,ES,28,V,41,N,224216.16,2018-03,KHK,1.0,01 - TOP,payroll_account,account
78450,85116,1387215,2018-04-01,44.5,2018-04-01,ES,28,V,41,N,224216.16,2018-03,KHK,1.0,01 - TOP,emc_account,account
107765,114431,1387215,2018-04-01,68.7,2018-04-01,ES,28,V,41,N,224216.16,2018-03,KHK,1.0,01 - TOP,debit_card,payment_card
6085,12751,1387215,2018-07-01,1260.1,2018-07-01,ES,28,V,41,N,224216.16,2018-03,KHK,1.0,01 - TOP,securities,investment
5159,11825,1387215,2019-02-01,1001.1,2019-02-01,ES,28,V,42,N,224216.16,2018-03,KHK,1.0,02 - PARTICULARES,funds,investment

In [53]:
def sacar_tiempos(dataframe, columna, formato):
    dataframe[columna] = pd.to_datetime(sales_analysis[columna], format=formato)
    dataframe[columna+'_year'] = sales_analysis[columna].dt.year
    dataframe[columna+'_month'] = sales_analysis[columna].dt.month
    return dataframe

In [54]:
sales_analysis = sacar_tiempos(sales_analysis,'month_sale','%Y-%m-%d')
sales_analysis = sacar_tiempos(sales_analysis,'entry_date','%Y-%m')
sales_analysis = sacar_tiempos(sales_analysis,'pk_partition','%Y-%m')

In [55]:
sales_analysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240773 entries, 0 to 240772
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   pk_sale             240773 non-null  int64
 1   cid                 240773 non-null  int64
 2   month_sale          240773 non-null  datetime64[ns]
 3   net_margin          240773 non-null  float64
 4   pk_partition        240773 non-null  datetime64[ns]
 5   country_id          240773 non-null  object
 6   region_code         240773 non-null  int32
 7   gender              240773 non-null  object
 8   age                 240773 non-null  int64
 9   deceased            240773 non-null  object
 10  salary              133154 non-null  float64
 11  entry_date          240773 non-null  datetime64[ns]
 12  entry_channel       240773 non-null  object
 13  active_customer     240773 non-null  float64
 14  segment             240773 non-null  object
 15  product_desc        240773 non-null  object
 16  family_product      240773 non-null  object
 17  month_sale_year     240773 non-null  int32
 18  month_sale_month    240773 non-null  int32
 19  entry_date_year     240773 non-null  int32
 20  entry_date_month    240773 non-null  int32
 21  pk_partition_year   240773 non-null  int32
 22  pk_partition_month  240773 non-null  int32
dtypes: datetime64[ns](3), float64(3), int32(7), int64(3), object(7)
memory usage: 35.8+ MB

In [56]:
sales_analysis.describe(include=np.number).T

,count,mean,std,min,25%,50%,75%,max
pk_sale,240773.0,1.270520e+05,69505.322519,6666.00,66859.00,127052.00,187245.0,247438.00
cid,240773.0,1.363934e+06,175172.069037,15891.00,1301012.00,1409253.00,1475320.0,1553571.00
net_margin,240773.0,6.068782e+02,1735.806089,25.00,61.40,69.10,79.2,18466.40
region_code,240773.0,2.652775e+01,13.427453,-1.00,15.00,28.00,36.0,52.00
age,240773.0,3.396393e+01,13.457494,2.00,22.00,31.00,41.0,102.00
salary,133154.0,1.163977e+05,220144.119340,3731.79,62220.72,90010.11,133176.0,28894395.51
active_customer,240773.0,7.969041e-01,0.402304,0.00,1.00,1.00,1.0,1.00
month_sale_year,240773.0,2.018228e+03,0.419387,2018.00,2018.00,2018.00,2018.0,2019.00
month_sale_month,240773.0,6.574358e+00,3.371893,1.00,3.00,7.00,10.0,12.00
entry_date_year,240773.0,2.017563e+03,1.034474,2015.00,2017.00,2018.00,2018.0,2019.00
entry_date_month,240773.0,7.157206e+00,3.338973,1.00,4.00,8.00,10.0,12.00
pk_partition_year,240773.0,2.018228e+03,0.419387,2018.00,2018.00,2018.00,2018.0,2019.00
pk_partition_month,240773.0,6.574358e+00,3.371893,1.00,3.00,7.00,10.0,12.00

In [58]:
sales_analysis['tipo_cliente_bool'] = sales_analysis['entry_date'] < sales_analysis['month_sale']
sales_analysis['tipo_cliente'] = np.where(sales_analysis['tipo_cliente_bool'] == True,'Cliente_existente','Cliente_nuevo')
sales_analysis = sales_analysis.drop('tipo_cliente_bool',axis=1)

In [62]:
sales_analysis = sales_analysis.sort_values(by=['pk_sale']).reset_index(drop=True)

In [63]:
pd.options.display.max_columns = None

In [64]:
sales_analysis.head()

,pk_sale,cid,month_sale,net_margin,pk_partition,country_id,region_code,gender,age,deceased,salary,entry_date,entry_channel,active_customer,segment,product_desc,family_product,month_sale_year,month_sale_month,entry_date_year,entry_date_month,pk_partition_year,pk_partition_month,tipo_cliente
0,6666,33620,2018-05-01,952.9,2018-05-01,ES,28,H,50,N,138618.57,2018-04-01,KHK,1.0,02 - PARTICULARES,short_term_deposit,investment,2018,5,2018,4,2018,5,Cliente_existente
1,6667,35063,2018-06-01,1625.2,2018-06-01,ES,28,H,62,N,125530.41,2018-04-01,KHN,1.0,01 - TOP,short_term_deposit,investment,2018,6,2018,4,2018,6,Cliente_existente
2,6668,37299,2018-02-01,1279.7,2018-02-01,ES,30,V,54,N,NaN,2018-01-01,KHK,1.0,01 - TOP,short_term_deposit,investment,2018,2,2018,1,2018,2,Cliente_existente
3,6669,39997,2018-02-01,1511.9,2018-02-01,ES,41,V,62,N,201575.01,2018-01-01,KAT,1.0,02 - PARTICULARES,short_term_deposit,investment,2018,2,2018,1,2018,2,Cliente_existente
4,6670,44012,2018-02-01,1680.3,2018-02-01,ES,28,V,42,N,97601.04,2018-01-01,KHL,1.0,02 - PARTICULARES,short_term_deposit,investment,2018,2,2018,1,2018,2,Cliente_existente

In [65]:
sales_analysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240773 entries, 0 to 240772
Data columns (total 24 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   pk_sale             240773 non-null  int64
 1   cid                 240773 non-null  int64
 2   month_sale          240773 non-null  datetime64[ns]
 3   net_margin          240773 non-null  float64
 4   pk_partition        240773 non-null  datetime64[ns]
 5   country_id          240773 non-null  object
 6   region_code         240773 non-null  int32
 7   gender              240773 non-null  object
 8   age                 240773 non-null  int64
 9   deceased            240773 non-null  object
 10  salary              133154 non-null  float64
 11  entry_date          240773 non-null  datetime64[ns]
 12  entry_channel       240773 non-null  object
 13  active_customer     240773 non-null  float64
 14  segment             240773 non-null  object
 15  product_desc        240773 non-null  object
 16  family_product      240773 non-null  object
 17  month_sale_year     240773 non-null  int32
 18  month_sale_month    240773 non-null  int32
 19  entry_date_year     240773 non-null  int32
 20  entry_date_month    240773 non-null  int32
 21  pk_partition_year   240773 non-null  int32
 22  pk_partition_month  240773 non-null  int32
 23  tipo_cliente        240773 non-null  object
dtypes: datetime64[ns](3), float64(3), int32(7), int64(3), object(8)
memory usage: 37.7+ MB

In [66]:
#sales_analysis.to_excel('sales_analysis.xlsx', index=False)

# Creación de tabla bajas

Vamos a crear una tabla que informe de el número de nuevos clientes o bajas por cada uno de los productos que hay en la empresa.

In [44]:
customer_products['pk_partition'] = pd.to_datetime(customer_products['pk_partition'])
products = customer_products.sort_values(by='pk_partition')

In [45]:
# no nos interesa quien compra los productos, sino el número de productos que se compran por lo que eliminamos el pk_cid 
mes1 = products[products['pk_partition']=='2018-01-01'].drop('pk_cid',axis=1).reset_index(drop=True)
mes1.head()

,pk_partition,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
0,2018-01-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,2018-01-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,2018-01-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,2018-01-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,2018-01-01,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1

In [46]:
# obtenemos los datos del primer mes del que tenemos registro del número de clientes que tenemos por producto en dicho mes
inicio = mes1.groupby('pk_partition').sum()
inicio

,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
pk_partition,,,,,,,,,,,,,,,
2018-01-01,883,19,15,786,932,4884,0,3325,8145,8835,13478,15320,24696,2,215293

In [47]:
products['pk_partition'].unique()

<DatetimeArray>
['2018-01-01 00:00:00', '2018-02-01 00:00:00', '2018-03-01 00:00:00',
 '2018-04-01 00:00:00', '2018-05-01 00:00:00', '2018-06-01 00:00:00',
 '2018-07-01 00:00:00', '2018-08-01 00:00:00', '2018-09-01 00:00:00',
 '2018-10-01 00:00:00', '2018-11-01 00:00:00', '2018-12-01 00:00:00',
 '2019-01-01 00:00:00', '2019-02-01 00:00:00', '2019-03-01 00:00:00',
 '2019-04-01 00:00:00', '2019-05-01 00:00:00']
Length: 17, dtype: datetime64[ns]

He conseguido sacar las ventas de cada producto en el primer mes del que tenemos registro. Ahora basta con calcular el mismo groupby para el siguiente registro de modo que obtenemos la diferencia con el anterior. Esto deberíamos realizarlo con todos los meses comparando cada uno con el anterior.

In [48]:
lista_meses = ['2018-02-01', '2018-03-01',
 '2018-04-01', '2018-05-01', '2018-06-01',
 '2018-07-01', '2018-08-01', '2018-09-01',
 '2018-10-01', '2018-11-01', '2018-12-01',
 '2019-01-01', '2019-02-01', '2019-03-01',
 '2019-04-01', '2019-05-01']

for mes in lista_meses:
    mes_resumen = products[products['pk_partition']==mes].drop('pk_cid',axis=1).reset_index(drop=True)
    mes_compras = mes_resumen.groupby('pk_partition').sum()
    inicio = pd.concat([inicio,mes_compras],axis=0)

inicio

,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
pk_partition,,,,,,,,,,,,,,,
2018-01-01,883,19,15,786,932,4884,0,3325,8145,8835,13478,15320,24696,2,215293
2018-02-01,1343,19,15,872,965,4956,0,3282,8889,9496,14246,15827,25448,2,217098
2018-03-01,1664,23,17,969,965,4965,0,3511,9735,9882,14989,16428,27046,2,218683
2018-04-01,1740,24,17,1084,983,5107,0,3725,9905,10560,15825,16947,27764,2,219816
2018-05-01,1455,27,18,1145,1012,5356,0,3797,9994,10148,16697,17569,27911,2,221291
2018-06-01,1244,27,19,1159,1019,5588,0,4002,10946,11635,15540,17950,28828,2,224328
2018-07-01,1282,28,20,1172,1053,5796,0,4137,11888,12779,16916,18185,29578,2,234324
2018-08-01,1335,29,20,1219,1133,5923,0,4206,11383,12126,18118,18333,29205,2,245980
2018-09-01,1386,31,20,1237,1201,6158,0,4289,11850,12624,18862,18618,31684,2,261210
2018-10-01,1374,33,19,1249,1348,6380,0,4385,12454,13223,19945,18844,34372,2,277707
2018-11-01,1018,32,19,1282,1360,6447,0,4512,13032,13818,21437,19494,35466,2,284900
2018-12-01,528,30,19,1322,1420,6749,0,4536,14452,15324,21359,20043,37430,2,288928
2019-01-01,125,28,20,1330,1655,6659,0,4493,12058,12538,22324,20921,37350,2,291786
2019-02-01,11,29,20,1316,1747,6658,0,4542,14378,15265,23264,21796,39399,2,292988
2019-03-01,2,29,20,1322,1769,6537,0,4576,15114,15976,24390,22480,41390,2,295046
2019-04-01,2,30,23,1320,1782,6368,0,4747,15231,16220,25501,23455,42140,2,295844
2019-05-01,2,30,23,1315,1789,6129,0,4801,16333,17353,26529,24751,43261,2,296380

In [49]:
df_diff = inicio.diff() #calculamos la diferencia entre cada fila y la anterior
df_diff

,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
pk_partition,,,,,,,,,,,,,,,
2018-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-02-01,460.0,0.0,0.0,86.0,33.0,72.0,0.0,-43.0,744.0,661.0,768.0,507.0,752.0,0.0,1805.0
2018-03-01,321.0,4.0,2.0,97.0,0.0,9.0,0.0,229.0,846.0,386.0,743.0,601.0,1598.0,0.0,1585.0
2018-04-01,76.0,1.0,0.0,115.0,18.0,142.0,0.0,214.0,170.0,678.0,836.0,519.0,718.0,0.0,1133.0
2018-05-01,-285.0,3.0,1.0,61.0,29.0,249.0,0.0,72.0,89.0,-412.0,872.0,622.0,147.0,0.0,1475.0
2018-06-01,-211.0,0.0,1.0,14.0,7.0,232.0,0.0,205.0,952.0,1487.0,-1157.0,381.0,917.0,0.0,3037.0
2018-07-01,38.0,1.0,1.0,13.0,34.0,208.0,0.0,135.0,942.0,1144.0,1376.0,235.0,750.0,0.0,9996.0
2018-08-01,53.0,1.0,0.0,47.0,80.0,127.0,0.0,69.0,-505.0,-653.0,1202.0,148.0,-373.0,0.0,11656.0
2018-09-01,51.0,2.0,0.0,18.0,68.0,235.0,0.0,83.0,467.0,498.0,744.0,285.0,2479.0,0.0,15230.0
2018-10-01,-12.0,2.0,-1.0,12.0,147.0,222.0,0.0,96.0,604.0,599.0,1083.0,226.0,2688.0,0.0,16497.0
2018-11-01,-356.0,-1.0,0.0,33.0,12.0,67.0,0.0,127.0,578.0,595.0,1492.0,650.0,1094.0,0.0,7193.0
2018-12-01,-490.0,-2.0,0.0,40.0,60.0,302.0,0.0,24.0,1420.0,1506.0,-78.0,549.0,1964.0,0.0,4028.0
2019-01-01,-403.0,-2.0,1.0,8.0,235.0,-90.0,0.0,-43.0,-2394.0,-2786.0,965.0,878.0,-80.0,0.0,2858.0
2019-02-01,-114.0,1.0,0.0,-14.0,92.0,-1.0,0.0,49.0,2320.0,2727.0,940.0,875.0,2049.0,0.0,1202.0
2019-03-01,-9.0,0.0,0.0,6.0,22.0,-121.0,0.0,34.0,736.0,711.0,1126.0,684.0,1991.0,0.0,2058.0
2019-04-01,0.0,1.0,3.0,-2.0,13.0,-169.0,0.0,171.0,117.0,244.0,1111.0,975.0,750.0,0.0,798.0
2019-05-01,0.0,0.0,0.0,-5.0,7.0,-239.0,0.0,54.0,1102.0,1133.0,1028.0,1296.0,1121.0,0.0,536.0

In [50]:
df_resultado = inicio.copy() # hacemos una copia del dataframe inicial
df_resultado.iloc[1:] = df_diff.iloc[1:] # cambiamos todas las filas menos la primera por las diferencias

In [51]:
df_resultado

,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
pk_partition,,,,,,,,,,,,,,,
2018-01-01,883,19,15,786,932,4884,0,3325,8145,8835,13478,15320,24696,2,215293
2018-02-01,460,0,0,86,33,72,0,-43,744,661,768,507,752,0,1805
2018-03-01,321,4,2,97,0,9,0,229,846,386,743,601,1598,0,1585
2018-04-01,76,1,0,115,18,142,0,214,170,678,836,519,718,0,1133
2018-05-01,-285,3,1,61,29,249,0,72,89,-412,872,622,147,0,1475
2018-06-01,-211,0,1,14,7,232,0,205,952,1487,-1157,381,917,0,3037
2018-07-01,38,1,1,13,34,208,0,135,942,1144,1376,235,750,0,9996
2018-08-01,53,1,0,47,80,127,0,69,-505,-653,1202,148,-373,0,11656
2018-09-01,51,2,0,18,68,235,0,83,467,498,744,285,2479,0,15230
2018-10-01,-12,2,-1,12,147,222,0,96,604,599,1083,226,2688,0,16497
2018-11-01,-356,-1,0,33,12,67,0,127,578,595,1492,650,1094,0,7193
2018-12-01,-490,-2,0,40,60,302,0,24,1420,1506,-78,549,1964,0,4028
2019-01-01,-403,-2,1,8,235,-90,0,-43,-2394,-2786,965,878,-80,0,2858
2019-02-01,-114,1,0,-14,92,-1,0,49,2320,2727,940,875,2049,0,1202
2019-03-01,-9,0,0,6,22,-121,0,34,736,711,1126,684,1991,0,2058
2019-04-01,0,1,3,-2,13,-169,0,171,117,244,1111,975,750,0,798
2019-05-01,0,0,0,-5,7,-239,0,54,1102,1133,1028,1296,1121,0,536

In [52]:
df_resultado = df_resultado.reset_index()

In [53]:
df_resultado

,pk_partition,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
0,2018-01-01,883,19,15,786,932,4884,0,3325,8145,8835,13478,15320,24696,2,215293
1,2018-02-01,460,0,0,86,33,72,0,-43,744,661,768,507,752,0,1805
2,2018-03-01,321,4,2,97,0,9,0,229,846,386,743,601,1598,0,1585
3,2018-04-01,76,1,0,115,18,142,0,214,170,678,836,519,718,0,1133
4,2018-05-01,-285,3,1,61,29,249,0,72,89,-412,872,622,147,0,1475
5,2018-06-01,-211,0,1,14,7,232,0,205,952,1487,-1157,381,917,0,3037
6,2018-07-01,38,1,1,13,34,208,0,135,942,1144,1376,235,750,0,9996
7,2018-08-01,53,1,0,47,80,127,0,69,-505,-653,1202,148,-373,0,11656
8,2018-09-01,51,2,0,18,68,235,0,83,467,498,744,285,2479,0,15230
9,2018-10-01,-12,2,-1,12,147,222,0,96,604,599,1083,226,2688,0,16497
10,2018-11-01,-356,-1,0,33,12,67,0,127,578,595,1492,650,1094,0,7193
11,2018-12-01,-490,-2,0,40,60,302,0,24,1420,1506,-78,549,1964,0,4028
12,2019-01-01,-403,-2,1,8,235,-90,0,-43,-2394,-2786,965,878,-80,0,2858
13,2019-02-01,-114,1,0,-14,92,-1,0,49,2320,2727,940,875,2049,0,1202
14,2019-03-01,-9,0,0,6,22,-121,0,34,736,711,1126,684,1991,0,2058
15,2019-04-01,0,1,3,-2,13,-169,0,171,117,244,1111,975,750,0,798
16,2019-05-01,0,0,0,-5,7,-239,0,54,1102,1133,1028,1296,1121,0,536

# Dataset de producto a predecir

Vamos a proceder a crear una función que nos permita obtener un dataset balanceado sobre el que aplicar un modelo de propensión a compra, es decir, un modelo que nos permita obtener probabilidades sobre nuestros clientes en base a la compra de ciertos productos (los más rentables).

In [69]:
customer_commercial_activity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5962924 entries, 0 to 5962923
Data columns (total 6 columns):
 #   Column           Dtype
---  ------           -----
 0   pk_cid           int64
 1   pk_partition     datetime64[ns]
 2   entry_date       object
 3   entry_channel    object
 4   active_customer  float64
 5   segment          object
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 273.0+ MB

In [72]:
customer_products['pk_partition'] = pd.to_datetime(customer_products['pk_partition'], format='%Y-%m')

In [71]:
customer_products.head()

,pk_cid,pk_partition,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
0,1375586,2018-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,1050611,2018-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,1050612,2018-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,1050613,2018-01,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1050614,2018-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [73]:
def creacion_df(sales_df,product_df,start_date,end_date,producto):

    # Filtrar el DataFrame de ventas para quedarnos con las fechas seleccionadas
    # escogemos de la tabla de 'sales' los clientes que han comprado el producto en ese intervalo de tiempo
    compras_producto = sales_df[(sales_df['month_sale'] >= start_date) & (sales_df['month_sale'] <= end_date)]
    compras_producto= compras_producto[compras_producto['product_desc']==producto].reset_index()
    # añadimos una nueva columna la cual será el target que informa de si han comprado o no el producto, todos han comprado porque lo sacamos de las ventas
    compras_producto['Compra_'+ producto] = 1
    
    # Filtrar el DataFrame de productos para quedarnos con las fechas seleccionadas y la gente que no ha comprado nunca dicho producto
    # en el periodo de tiempo fijado
    no_producto = product_df[(product_df['pk_partition'] >= start_date) & (product_df['pk_partition'] <= end_date)]
    no_producto = no_producto[no_producto[producto]==0]
    no_producto.reset_index()

    # ahora queremos escoger de manera aleatoria de este dataset el mismo número de clientes que hay en 
    # compras_debit_card para que así esté balanceado

    # 1. Agrupar por 'id_cliente' y tomar una muestra aleatoria de 1 fila dentro de cada grupo
    df_unique_random = no_producto.groupby('pk_cid').apply(lambda x: x.sample(1)).reset_index(drop=True)

    # 2. Obtener un sample aleatorio del mismo tamaño que compras debit_card
    no_producto = df_unique_random.sample(n=len(compras_producto), random_state=42)  # random_state es opcional

    # le añadimos la columna de compra con un 0 que indica que no han comprado dicho producto
    no_producto['Compra_'+ producto] = 0

    # comenzamos eliminando todas las columnas de no_producto que no son pk_cid, pk_partition, nombre_producto
    # y eliminamos las columnas que no aportan información de compras_debit_card porque son iguales todas las filas: product_desc, family_product

    estas_no = ['pk_cid','pk_partition','Compra_'+ producto]
    lista_eliminar = [col for col in no_producto.columns if col not in estas_no]
    no_producto = no_producto.drop(columns=lista_eliminar)

    compras_producto = compras_producto.drop(columns = ['product_desc','family_product','pk_sale','net_margin','index','month_sale','month_sale_year','month_sale_month'])

    # ahora tenemos que añadirle al dataframe no_producto todas las columnas que tiene compras_producto

    fusion1 = pd.merge(no_producto,customer_sociodemographics,how='left',left_on=['pk_cid','pk_partition'],right_on=['pk_cid','pk_partition'])

    fusion2 = pd.merge(fusion1,customer_commercial_activity,how='left',left_on=['pk_cid','pk_partition'],right_on=['pk_cid','pk_partition'])
    no_producto = fusion2

    no_producto['pk_partition_month'] = no_producto['pk_partition'].dt.month
    no_producto['pk_partition_year'] = no_producto['pk_partition'].dt.year

    no_producto['entry_date'] = pd.to_datetime(no_producto['entry_date'],format='%Y-%m')
    no_producto['entry_date_year'] = no_producto['entry_date'].dt.year
    no_producto['entry_date_month'] = no_producto['entry_date'].dt.month

    no_producto['tipo_cliente_bool'] = no_producto['entry_date'] < no_producto['pk_partition']
    no_producto['tipo_cliente'] = np.where(no_producto['tipo_cliente_bool'] == True,'Cliente_existente','Cliente_nuevo')
    no_producto = no_producto.drop('tipo_cliente_bool',axis=1)
    no_producto['cid']=no_producto['pk_cid']
    no_producto = no_producto.drop(columns='pk_cid')

    # por último unimos un dataset que tiene aproximadamente el mismo número de clientes que han comprado y que no el producto
    df_final = pd.concat([compras_producto, no_producto], axis=0)
    df_final = df_final.drop_duplicates(subset=['cid'],keep='first')
    df_final.set_index('cid', inplace=True)
    
    # ordenamos le dataset final por la fecha en la que el cliente ingresó en el database de la empresa
    df_final = df_final.sort_values(by='pk_partition')

    return df_final

## Creación debit_card

In [74]:
debit_card = creacion_df(sales_analysis,customer_products,'2019-01-01','2019-05-01','debit_card').reset_index()

C:\Users\USUARIO\AppData\Local\Temp\ipykernel_16176\2836990673.py:20: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_unique_random = no_producto.groupby('pk_cid').apply(lambda x: x.sample(1)).reset_index(drop=True)

In [75]:
debit_card.head()

,cid,pk_partition,country_id,region_code,gender,age,deceased,salary,entry_date,entry_channel,active_customer,segment,entry_date_year,entry_date_month,pk_partition_year,pk_partition_month,tipo_cliente,Compra_debit_card
0,1517558,2019-01-01,ES,23,V,41,N,NaN,2018-12-01,KHN,1.0,02 - PARTICULARES,2018,12,2019,1,Cliente_existente,1
1,1161959,2019-01-01,ES,12,H,26,N,39287.91,2016-08-01,KAT,0.0,03 - UNIVERSITARIO,2016,8,2019,1,Cliente_existente,0
2,1100492,2019-01-01,ES,28,H,23,N,35177.97,2015-11-01,KHE,0.0,03 - UNIVERSITARIO,2015,11,2019,1,Cliente_existente,0
3,1391462,2019-01-01,ES,24,V,48,N,69824.28,2018-04-01,KHN,0.0,01 - TOP,2018,4,2019,1,Cliente_existente,1
4,1391434,2019-01-01,ES,8,V,56,N,NaN,2018-04-01,KHK,1.0,02 - PARTICULARES,2018,4,2019,1,Cliente_existente,1

In [76]:
print(debit_card.shape)
print(debit_card['cid'].nunique())

(22653, 18)
22653

In [77]:
debit_card.describe(include=np.number).T

,count,mean,std,min,25%,50%,75%,max
cid,22653.0,1.335494e+06,189034.502769,22212.00,1197586.000,1380323.0,1.506265e+06,1553649.00
region_code,22653.0,2.598808e+01,13.310204,-1.00,14.000,28.0,3.500000e+01,52.00
age,22653.0,3.303399e+01,12.592413,2.00,23.000,30.0,3.900000e+01,105.00
salary,11650.0,1.186228e+05,264028.710775,5163.75,62277.675,89399.4,1.320854e+05,22034738.76
active_customer,22653.0,6.427405e-01,0.479203,0.00,0.000,1.0,1.000000e+00,1.00
entry_date_year,22653.0,2.017282e+03,1.300442,2015.00,2016.000,2018.0,2.018000e+03,2019.00
entry_date_month,22653.0,7.343575e+00,3.560326,1.00,4.000,8.0,1.000000e+01,12.00
pk_partition_year,22653.0,2.019000e+03,0.000000,2019.00,2019.000,2019.0,2.019000e+03,2019.00
pk_partition_month,22653.0,2.998941e+00,1.396939,1.00,2.000,3.0,4.000000e+00,5.00
Compra_debit_card,22653.0,5.061140e-01,0.499974,0.00,0.000,1.0,1.000000e+00,1.00

In [78]:
# después de revisar que todo funciona de manera correcta
debit_card.to_pickle('debit_card.pkl')

## Creación pension_plan

In [79]:
pension_plan = creacion_df(sales_analysis,customer_products,'2019-01-01','2019-05-01','pension_plan').reset_index()

C:\Users\USUARIO\AppData\Local\Temp\ipykernel_16176\2836990673.py:20: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_unique_random = no_producto.groupby('pk_cid').apply(lambda x: x.sample(1)).reset_index(drop=True)

In [80]:
pension_plan.head()

,cid,pk_partition,country_id,region_code,gender,age,deceased,salary,entry_date,entry_channel,active_customer,segment,entry_date_year,entry_date_month,pk_partition_year,pk_partition_month,tipo_cliente,Compra_pension_plan
0,1041767,2019-01-01,ES,41,V,28,N,96122.85,2015-08-01,KHE,0.0,03 - UNIVERSITARIO,2015,8,2019,1,Cliente_existente,0
1,1431496,2019-01-01,ES,35,V,20,N,77313.63,2018-08-01,KHQ,0.0,03 - UNIVERSITARIO,2018,8,2019,1,Cliente_existente,0
2,1339331,2019-01-01,ES,28,H,40,N,NaN,2017-10-01,KFC,1.0,02 - PARTICULARES,2017,10,2019,1,Cliente_existente,1
3,1106732,2019-01-01,ES,28,H,27,N,82652.25,2015-11-01,KHE,0.0,03 - UNIVERSITARIO,2015,11,2019,1,Cliente_existente,0
4,1297454,2019-01-01,ES,20,H,95,N,NaN,2017-08-01,KAT,1.0,01 - TOP,2017,8,2019,1,Cliente_existente,0

In [81]:
print(pension_plan.shape)
print(pension_plan['cid'].nunique())

(11127, 18)
11127

In [83]:
pension_plan.describe(include=np.number).T

,count,mean,std,min,25%,50%,75%,max
cid,11127.0,1.318761e+06,191156.698963,25036.0,1178844.50,1351802.00,1490903.00,1553619.00
region_code,11127.0,2.610803e+01,13.243615,-1.0,14.00,28.00,35.00,52.00
age,11127.0,3.246643e+01,11.957303,2.0,23.00,29.00,38.00,103.00
salary,6165.0,1.197849e+05,206508.878399,7425.0,61286.01,89535.81,134200.11,13268621.28
active_customer,11127.0,6.776310e-01,0.467404,0.0,0.00,1.00,1.00,1.00
entry_date_year,11127.0,2.017169e+03,1.309600,2015.0,2016.00,2017.00,2018.00,2019.00
entry_date_month,11127.0,7.309787e+00,3.502357,1.0,4.00,8.00,10.00,12.00
pk_partition_year,11127.0,2.019000e+03,0.000000,2019.0,2019.00,2019.00,2019.00,2019.00
pk_partition_month,11127.0,3.068662e+00,1.407893,1.0,2.00,3.00,4.00,5.00
Compra_pension_plan,11127.0,5.031904e-01,0.500012,0.0,0.00,1.00,1.00,1.00

In [89]:
# después de revisar que todo funciona de manera correcta
pension_plan.to_pickle('pension_plan.pkl')

## Creación securities

In [85]:
securities = creacion_df(sales_analysis,customer_products,'2019-01-01','2019-05-01','securities').reset_index()

C:\Users\USUARIO\AppData\Local\Temp\ipykernel_16176\2836990673.py:20: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  df_unique_random = no_producto.groupby('pk_cid').apply(lambda x: x.sample(1)).reset_index(drop=True)

In [86]:
securities.head()

,cid,pk_partition,country_id,region_code,gender,age,deceased,salary,entry_date,entry_channel,active_customer,segment,entry_date_year,entry_date_month,pk_partition_year,pk_partition_month,tipo_cliente,Compra_securities
0,1375685,2019-01-01,ES,48,V,43,N,NaN,2018-01-01,KHL,1.0,02 - PARTICULARES,2018,1,2019,1,Cliente_existente,1
1,1279874,2019-01-01,ES,50,V,21,N,99436.44,2017-07-01,KHE,1.0,03 - UNIVERSITARIO,2017,7,2019,1,Cliente_existente,0
2,1423426,2019-01-01,ES,31,H,24,N,NaN,2018-08-01,KHN,1.0,02 - PARTICULARES,2018,8,2019,1,Cliente_existente,1
3,1421140,2019-01-01,ES,43,V,39,N,2563287.60,2018-07-01,KHN,1.0,02 - PARTICULARES,2018,7,2019,1,Cliente_existente,1
4,1420535,2019-01-01,ES,10,V,40,N,98621.25,2018-07-01,KHN,1.0,01 - TOP,2018,7,2019,1,Cliente_existente,1

In [87]:
print(securities.shape)
print(securities['cid'].nunique())

(960, 18)
960

In [88]:
securities.describe(include=np.number).T

,count,mean,std,min,25%,50%,75%,max
cid,960.0,1.287439e+06,233165.858626,17970.00,1155934.750,1330582.50,1450545.500,1551336.0
region_code,960.0,2.608646e+01,13.303697,1.00,14.750,28.00,35.000,52.0
age,960.0,3.632083e+01,14.217629,2.00,24.000,34.00,44.000,91.0
salary,591.0,1.195002e+05,130162.248630,17207.73,64176.765,93294.84,138475.995,2563287.6
active_customer,960.0,7.083333e-01,0.454767,0.00,0.000,1.00,1.000,1.0
entry_date_year,960.0,2.017099e+03,1.271160,2015.00,2016.000,2017.00,2018.000,2019.0
entry_date_month,960.0,7.236458e+00,3.452844,1.00,4.000,8.00,10.000,12.0
pk_partition_year,960.0,2.019000e+03,0.000000,2019.00,2019.000,2019.00,2019.000,2019.0
pk_partition_month,960.0,2.452083e+00,1.433909,1.00,1.000,2.00,4.000,5.0
Compra_securities,960.0,5.000000e-01,0.500261,0.00,0.000,0.50,1.000,1.0

In [90]:
# después de revisar que todo funciona de manera correcta
securities.to_pickle('securities.pkl')

# Creación de variables extra sobre clientes

La información relativa a clientes (sin contar con las compras que realian) se distribuyen en las tablas:

- **customer_commercial_activity**
- **customer_products**
- **customer_sociodemographics**

A partir de la información que podemos encontrar en estas tablas nos disponemos a crear nuevas variables que puedan ayudar de forma significativa a nuestro modelo de predicción a compra y más tarde al modelo de clustering.

## Customer_commercial_activity

In [59]:
customer_commercial_activity.head()

,pk_cid,pk_partition,entry_date,entry_channel,active_customer,segment
0,1375586,2018-01,2018-01,KHL,1.0,02 - PARTICULARES
1,1050611,2018-01,2015-08,KHE,0.0,03 - UNIVERSITARIO
2,1050612,2018-01,2015-08,KHE,0.0,03 - UNIVERSITARIO
3,1050613,2018-01,2015-08,KHD,0.0,03 - UNIVERSITARIO
4,1050614,2018-01,2015-08,KHE,1.0,03 - UNIVERSITARIO

In [60]:
# Suponiendo que ya tienes el dataframe 'df' con las columnas 'pk_cid', 'pk_partition' y 'entry_date'
# 1. Convertimos 'pk_partition' y 'entry_date' a formato de fecha (si aún no lo están)
customer_commercial_activity['pk_partition'] = pd.to_datetime(customer_commercial_activity['pk_partition'], format='%Y-%m')
customer_commercial_activity['entry_date'] = pd.to_datetime(customer_commercial_activity['entry_date'], format='%Y-%m')

# 2. Calculamos la antigüedad en meses
customer_commercial_activity['meses_antigüedad'] = customer_commercial_activity.apply(lambda row: (row['pk_partition'].year - row['entry_date'].year) * 12 + (row['pk_partition'].month - row['entry_date'].month), axis=1)

# 3. Agrupamos por 'pk_cid' y 'pk_partition' para ver la antigüedad de cada cliente en cada mes
meses_antiguedad = customer_commercial_activity.groupby(['pk_cid', 'pk_partition'])['meses_antigüedad'].first().reset_index()

# Mostramos el resultado
meses_antiguedad.head(20)

    pk_cid pk_partition  meses_antigüedad
0    15891   2018-07-01                 0
1    15891   2018-08-01                 1
2    16063   2018-11-01                 0
3    16063   2018-12-01                 1
4    16063   2019-01-01                 2
5    16063   2019-02-01                 3
6    16063   2019-03-01                 4
7    16063   2019-04-01                 5
8    16063   2019-05-01                 6
9    16203   2018-12-01                 0
10   16203   2019-01-01                 1
11   16203   2019-02-01                 2
12   16203   2019-03-01                 3
13   16203   2019-04-01                 4
14   16203   2019-05-01                 5
15   16502   2018-09-01                 0
16   16502   2018-10-01                 1
17   16502   2018-11-01                 2
18   16502   2018-12-01                 3
19   16502   2019-01-01                 4

## Customer_products

In [61]:
customer_products.head()

,pk_cid,pk_partition,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount
0,1375586,2018-01-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,1050611,2018-01-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,1050612,2018-01-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,1050613,2018-01-01,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,1050614,2018-01-01,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [62]:
customer_products['total_products'] = customer_products[['credit_card', 'debit_card', 'em_account_p', 'em_account_pp', 
                           'em_acount', 'emc_account', 'funds', 'loans', 'long_term_deposit', 
                           'mortgage', 'payroll', 'payroll_account', 'pension_plan', 
                           'securities', 'short_term_deposit']].sum(axis=1)

In [63]:
# Variable binaria que indique si el cliente tiene productos que implican deuda (ej. préstamos, tarjetas de crédito, hipoteca).
customer_products['has_credit_card_debt'] = customer_products[['credit_card', 'loans', 'mortgage']].max(axis=1)
customer_products['has_credit_card_debt'].value_counts()

has_credit_card_debt
0    5891611
1      71313
Name: count, dtype: int64

In [64]:
# Variable binaria que indique si el cliente tiene productos relacionados con ahorro o inversión (fondos, depósitos, valores, etc.)
customer_products['has_savings_investments'] = customer_products[['funds', 'long_term_deposit', 'short_term_deposit', 'securities']].max(axis=1)
customer_products['has_savings_investments'].value_counts()

has_savings_investments
0    5815423
1     147501
Name: count, dtype: int64

In [65]:
#  variable que capture si el cliente tiene alguna de las variantes de cuentas "easyMoney"
customer_products['has_easyMoney_account'] = customer_products[['em_account_p', 'em_account_pp', 'em_acount', 'emc_account']].max(axis=1)
customer_products['has_easyMoney_account'].value_counts()

has_easyMoney_account
1    4535141
0    1427783
Name: count, dtype: int64

In [66]:
# variable que captura el número de cuentas "easyMoney" que tiene un cliente

customer_products['num_accounts'] = customer_products[['em_account_p', 'em_account_pp', 'em_acount', 'emc_account', 'payroll_account']].sum(axis=1)
customer_products['num_accounts'].value_counts()

num_accounts
1    4545271
0    1173436
2     239905
3       4312
Name: count, dtype: int64

In [67]:
# Variable que indique el número de productos que implican deuda tiene un cliente(ej. préstamos, tarjetas de crédito, hipoteca).

customer_products['num_debt_products'] = customer_products[['credit_card', 'loans', 'mortgage']].sum(axis=1)
customer_products['num_debt_products'].value_counts()

num_debt_products
0    5891611
1      70968
2        345
Name: count, dtype: int64

In [68]:
productos = products_description['product_desc'].to_list()
productos

['em_acount',
 'debit_card',
 'pension_plan',
 'payroll',
 'payroll_account',
 'emc_account',
 'credit_card',
 'short_term_deposit',
 'long_term_deposit',
 'securities',
 'funds',
 'loans',
 'mortgage']

In [69]:
# creamos función que nos crea un dataframe cuyas columnas nos indican cuántos meses consecutivos un 
# cliente ha tenido un producto en base a las particiones mensuales

def calculate_consecutive_months(df, products):
    # Crear una copia del dataframe para no modificar el original
    df_result = df[['pk_cid', 'pk_partition']].copy()

    # Asegurarse de que el dataframe esté ordenado por cliente y partición
    df = df.sort_values(by=['pk_cid', 'pk_partition'])

    for product in products:
        # Crear columna desplazada para comparar con el mes anterior
        df[f'{product}_shifted'] = df.groupby('pk_cid')[product].shift(1).fillna(0)

        # Crear columna de cambio cuando el producto cambia de estado (de tenerlo a no tenerlo y viceversa)
        df[f'{product}_change'] = (df[product] != df[f'{product}_shifted']).astype(int)

        # Crear un grupo que se incremente cada vez que cambie el estado del producto
        df[f'{product}_group'] = df.groupby('pk_cid')[f'{product}_change'].cumsum()

        # Contar los meses consecutivos dentro de cada grupo
        df[f'{product}_consecutive_months'] = df.groupby(['pk_cid', f'{product}_group']).cumcount() + 1

        # Si no tiene el producto, asignar 0 meses consecutivos
        df[f'{product}_consecutive_months'] = df.apply(lambda row: 0 if row[product] == 0 else row[f'{product}_consecutive_months'], axis=1)

        # Añadir la columna de meses consecutivos al resultado final
        df_result[f'{product}_consecutive_months'] = df[f'{product}_consecutive_months']
    
    return df_result

In [70]:
meses_producto = calculate_consecutive_months(customer_products,productos)
meses_producto

,pk_cid,pk_partition,em_acount_consecutive_months,debit_card_consecutive_months,pension_plan_consecutive_months,payroll_consecutive_months,payroll_account_consecutive_months,emc_account_consecutive_months,credit_card_consecutive_months,short_term_deposit_consecutive_months,long_term_deposit_consecutive_months,securities_consecutive_months,funds_consecutive_months,loans_consecutive_months,mortgage_consecutive_months
0,1375586,2018-01-01,1,0,0,0,0,0,0,0,0,0,0,0,0
1,1050611,2018-01-01,1,0,0,0,0,0,0,0,0,0,0,0,0
2,1050612,2018-01-01,1,0,0,0,0,0,0,0,0,0,0,0,0
3,1050613,2018-01-01,0,0,0,0,0,0,0,1,0,0,0,0,0
4,1050614,2018-01-01,1,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5962919,1166765,2019-05-01,17,0,0,0,0,0,0,0,0,0,0,0,0
5962920,1166764,2019-05-01,17,0,0,0,0,0,0,0,0,0,0,0,0
5962921,1166763,2019-05-01,17,0,0,0,0,0,0,0,0,0,0,0,0
5962922,1166789,2019-05-01,17,0,0,0,0,0,0,0,0,0,0,0,0
5962923,1550586,2019-05-01,1,0,0,0,0,0,0,0,0,0,0,0,0

In [71]:
customer_products[['pk_cid','pk_partition','total_products','has_credit_card_debt','num_debt_products','has_savings_investments','has_easyMoney_account','num_accounts']]

,pk_cid,pk_partition,total_products,has_credit_card_debt,num_debt_products,has_savings_investments,has_easyMoney_account,num_accounts
0,1375586,2018-01-01,1,0,0,0,1,1
1,1050611,2018-01-01,1,0,0,0,1,1
2,1050612,2018-01-01,1,0,0,0,1,1
3,1050613,2018-01-01,1,0,0,1,0,0
4,1050614,2018-01-01,1,0,0,0,1,1
...,...,...,...,...,...,...,...,...
5962919,1166765,2019-05-01,1,0,0,0,1,1
5962920,1166764,2019-05-01,1,0,0,0,1,1
5962921,1166763,2019-05-01,1,0,0,0,1,1
5962922,1166789,2019-05-01,1,0,0,0,1,1
5962923,1550586,2019-05-01,1,0,0,0,1,1

## Customer_sociodemographics

In [72]:
customer_sociodemographics.head()

,pk_cid,pk_partition,country_id,region_code,gender,age,deceased,salary
0,1375586,2018-01-01,ES,29,H,35,N,87218.10
1,1050611,2018-01-01,ES,13,V,23,N,35548.74
2,1050612,2018-01-01,ES,13,V,23,N,122179.11
3,1050613,2018-01-01,ES,50,H,22,N,119775.54
4,1050614,2018-01-01,ES,50,V,23,N,NaN

In [73]:
customer_sociodemographics['age'].describe()

count    5.962924e+06
mean     2.976042e+01
std      1.198038e+01
min      2.000000e+00
25%      2.200000e+01
50%      2.500000e+01
75%      3.400000e+01
max      1.050000e+02
Name: age, dtype: float64

In [74]:
def categorize_age(age):
    if age < 25:
        return '18-24'
    elif age < 35:
        return '25-34'
    elif age < 45:
        return '35-44'
    elif age < 55:
        return '45-54'
    else:
        return '55+'
    
# variable que agrupa los clientes en 5 grupos de edad diferentes
customer_sociodemographics['age_group'] = customer_sociodemographics['age'].apply(categorize_age)

In [75]:
# variable que agrupa los salarios en tres categorías
customer_sociodemographics['salary_bracket'] = pd.qcut(customer_sociodemographics['salary'], q=3, labels=['low', 'medium', 'high'])
customer_sociodemographics['salary_bracket'].value_counts(dropna=False)

salary_bracket
NaN       1541104
low       1473955
high      1473933
medium    1473932
Name: count, dtype: int64

Variables extra que se me ocurren en caso de que los modelos sean malos:
- inferir que región de españa se trata cada número y ver el salario en las mismas para ver si es mayor o menor que en dicha provincia, la población y otros estadísticos
- realizar lo mismo pero con los países

## Creación tabla info_clientes

Pasamos a crear una tabla llamada info_clientes, la cual va a reunir toda la información disponible de cada cliente. Para ello deberemos unir las diferentes columnas obtenidas a partir de las ya existentes bajo un mismo dataset. Esta tabla reunirá la información desde el inicio del año 2019 hasta la última fecha de la cual tenemos registro.

In [76]:
start_date = '2019-01-01'
end_date = '2019-05-01'

customer_sociodemographics_actual = customer_sociodemographics[(customer_sociodemographics['pk_partition'] >= start_date) & (customer_sociodemographics['pk_partition'] <= end_date)]

meses_producto_actual = meses_producto[(meses_producto['pk_partition'] >= start_date) & (meses_producto['pk_partition'] <= end_date)]

customer_products_actual = customer_products[(customer_products['pk_partition'] >= start_date) & (customer_products['pk_partition'] <= end_date)]

customer_commercial_activity_actual = customer_commercial_activity[(customer_commercial_activity['pk_partition'] >= start_date) & (customer_commercial_activity['pk_partition'] <= end_date)]

In [77]:
customer_sociodemographics_actual.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2177407 entries, 3785517 to 5962923
Data columns (total 10 columns):
 #   Column          Dtype
---  ------          -----
 0   pk_cid          int64
 1   pk_partition    datetime64[ns]
 2   country_id      object
 3   region_code     int32
 4   gender          object
 5   age             int64
 6   deceased        object
 7   salary          float64
 8   age_group       object
 9   salary_bracket  category
dtypes: category(1), datetime64[ns](1), float64(1), int32(1), int64(2), object(4)
memory usage: 159.9+ MB

In [78]:
meses_producto_actual.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2177407 entries, 3785517 to 5962923
Data columns (total 15 columns):
 #   Column                                 Dtype
---  ------                                 -----
 0   pk_cid                                 int64
 1   pk_partition                           datetime64[ns]
 2   em_acount_consecutive_months           int64
 3   debit_card_consecutive_months          int64
 4   pension_plan_consecutive_months        int64
 5   payroll_consecutive_months             int64
 6   payroll_account_consecutive_months     int64
 7   emc_account_consecutive_months         int64
 8   credit_card_consecutive_months         int64
 9   short_term_deposit_consecutive_months  int64
 10  long_term_deposit_consecutive_months   int64
 11  securities_consecutive_months          int64
 12  funds_consecutive_months               int64
 13  loans_consecutive_months               int64
 14  mortgage_consecutive_months            int64
dtypes: datetime64[ns](1), int64(14)
memory usage: 265.8 MB

In [79]:
customer_products_actual.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2177407 entries, 3785517 to 5962923
Data columns (total 23 columns):
 #   Column                   Dtype
---  ------                   -----
 0   pk_cid                   int64
 1   pk_partition             datetime64[ns]
 2   short_term_deposit       int64
 3   loans                    int64
 4   mortgage                 int64
 5   funds                    int64
 6   securities               int64
 7   long_term_deposit        int64
 8   em_account_pp            int64
 9   credit_card              int64
 10  payroll                  int32
 11  pension_plan             int32
 12  payroll_account          int64
 13  emc_account              int64
 14  debit_card               int64
 15  em_account_p             int64
 16  em_acount                int64
 17  total_products           int64
 18  has_credit_card_debt     int64
 19  has_savings_investments  int64
 20  has_easyMoney_account    int64
 21  num_accounts             int64
 22  num_debt_products        int64
dtypes: datetime64[ns](1), int32(2), int64(20)
memory usage: 382.1 MB

In [80]:
customer_commercial_activity_actual.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2177407 entries, 3785517 to 5962923
Data columns (total 7 columns):
 #   Column            Dtype
---  ------            -----
 0   pk_cid            int64
 1   pk_partition      datetime64[ns]
 2   entry_date        datetime64[ns]
 3   entry_channel     object
 4   active_customer   float64
 5   segment           object
 6   meses_antigüedad  int64
dtypes: datetime64[ns](2), float64(1), int64(2), object(2)
memory usage: 132.9+ MB

In [81]:
info_clientes = pd.merge(customer_sociodemographics_actual,meses_producto_actual,how='left',left_on=['pk_cid','pk_partition'],right_on=['pk_cid','pk_partition'])
print(info_clientes.shape)
info_clientes = pd.merge(info_clientes,customer_products_actual,how='left',left_on=['pk_cid','pk_partition'],right_on=['pk_cid','pk_partition'])
print(info_clientes.shape)
info_clientes = pd.merge(info_clientes,customer_commercial_activity_actual,how='left',left_on=['pk_cid','pk_partition'],right_on=['pk_cid','pk_partition'])
print(info_clientes.shape)

(2177407, 23)
(2177407, 44)
(2177407, 49)

In [82]:
info_clientes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2177407 entries, 0 to 2177406
Data columns (total 49 columns):
 #   Column                                 Dtype
---  ------                                 -----
 0   pk_cid                                 int64
 1   pk_partition                           datetime64[ns]
 2   country_id                             object
 3   region_code                            int32
 4   gender                                 object
 5   age                                    int64
 6   deceased                               object
 7   salary                                 float64
 8   age_group                              object
 9   salary_bracket                         category
 10  em_acount_consecutive_months           int64
 11  debit_card_consecutive_months          int64
 12  pension_plan_consecutive_months        int64
 13  payroll_consecutive_months             int64
 14  payroll_account_consecutive_months     int64
 15  emc_account_consecutive_months         int64
 16  credit_card_consecutive_months         int64
 17  short_term_deposit_consecutive_months  int64
 18  long_term_deposit_consecutive_months   int64
 19  securities_consecutive_months          int64
 20  funds_consecutive_months               int64
 21  loans_consecutive_months               int64
 22  mortgage_consecutive_months            int64
 23  short_term_deposit                     int64
 24  loans                                  int64
 25  mortgage                               int64
 26  funds                                  int64
 27  securities                             int64
 28  long_term_deposit                      int64
 29  em_account_pp                          int64
 30  credit_card                            int64
 31  payroll                                int32
 32  pension_plan                           int32
 33  payroll_account                        int64
 34  emc_account                            int64
 35  debit_card                             int64
 36  em_account_p                           int64
 37  em_acount                              int64
 38  total_products                         int64
 39  has_credit_card_debt                   int64
 40  has_savings_investments                int64
 41  has_easyMoney_account                  int64
 42  num_accounts                           int64
 43  num_debt_products                      int64
 44  entry_date                             datetime64[ns]
 45  entry_channel                          object
 46  active_customer                        float64
 47  segment                                object
 48  meses_antigüedad                       int64
dtypes: category(1), datetime64[ns](2), float64(2), int32(3), int64(35), object(6)
memory usage: 774.5+ MB

In [84]:
info_clientes.head()

,pk_cid,pk_partition,country_id,region_code,gender,age,deceased,salary,age_group,salary_bracket,em_acount_consecutive_months,debit_card_consecutive_months,pension_plan_consecutive_months,payroll_consecutive_months,payroll_account_consecutive_months,emc_account_consecutive_months,credit_card_consecutive_months,short_term_deposit_consecutive_months,long_term_deposit_consecutive_months,securities_consecutive_months,funds_consecutive_months,loans_consecutive_months,mortgage_consecutive_months,short_term_deposit,loans,mortgage,funds,securities,long_term_deposit,em_account_pp,credit_card,payroll,pension_plan,payroll_account,emc_account,debit_card,em_account_p,em_acount,total_products,has_credit_card_debt,has_savings_investments,has_easyMoney_account,num_accounts,num_debt_products,entry_date,entry_channel,active_customer,segment,meses_antigüedad
0,1432296,2019-01-01,ES,3,V,20,N,34745.28,18-24,low,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,1,0,2018-08-01,KHQ,0.0,03 - UNIVERSITARIO,5
1,1432294,2019-01-01,ES,12,H,25,N,184449.27,25-34,high,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,1,0,2018-08-01,KHQ,1.0,03 - UNIVERSITARIO,5
2,1432293,2019-01-01,ES,8,H,20,N,67044.99,18-24,low,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2018-08-01,KHQ,0.0,03 - UNIVERSITARIO,5
3,1432292,2019-01-01,ES,3,V,23,N,42478.02,18-24,low,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,1,0,2018-08-01,KHQ,0.0,03 - UNIVERSITARIO,5
4,1432297,2019-01-01,ES,45,H,20,N,89482.35,18-24,medium,6,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,1,0,2018-08-01,KHQ,0.0,03 - UNIVERSITARIO,5

In [85]:
info_clientes.to_pickle('info_clientes.pkl')